# Minecraft
/cache/
/coremods/
/crash-reports/
/downloads/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/

/command_history.txt
/icon.png
/options.txt
/realms_persistence.json
/servers.dat
/servers.dat_old
/usercache.json

# Mods
/.fabric/
/bluemap/
/data/

# Configs
/config/bluemap/*
/config/chunky/
/config/spark/*
!/config/spark/config.json

/config/iris* 

# Server files
/libraries/
/versions/
/world/

/.previousrun
/eula.txt
/fabric-server-launcher.jar

# Pakku
/build/

/pakku.jar