# Minecraft
/cache/
/coremods/
/crash-reports/
/downloads/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/texturepacks/

/command_history.txt
/debug-profile.json
/icon.png
/options.txt
/realms_persistence.json
/servers.dat
/servers.dat_old
/usercache.json

# Mods
/.fabric/
/.mixin.out/
/.voxy/
/bluemap/
/data/
/schematics/
/shaderpacks/

# Configs
/config/bluemap/*
/config/chunky/
/config/inventoryprofilesnext/**/
/config/litematica/ 
/config/spark/*
!/config/spark/config.json

/config/euphoria_patcher/data.json

/config/iris.properties
/config/iris-excluded.json

# Server files
/libraries/
/versions/
/world/

/.previousrun
/eula.txt
/fabric-server-launcher.jar

# Pakku
/build/

/pakku.jar