# Minecraft
/cache/
/coremods/
/downloads/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/

/command_history.txt
/icon.png
/options.txt
/realms_persistence.json
/usercache.json

# Mods
/.fabric/
/data/

# Configs
/config/iris* 

# Pakku
pakku.jar